<div class="indi-content-shell content-1 new_discussion_shell">
  <%= text_field_tag 'discussion[title]', @discussion.title, :class => 'discussion_title updatable_discussion_data plain input-bottom-border-1 block text-input-1', :data => {:discussion_id => @discussion.id}, :placeholder => 'Title', :autocomplete => 'off' %>
  <%= text_area_tag 'discussion[content]', @discussion.content, :class => 'discussion_content updatable_discussion_data plain block', :data => {:discussion_id => @discussion.id}, :placeholder => 'Content' %>
</div>

<div class='add_response_shell'>
  <%= button_to 'add response', discussion_discussions_responses_path(@discussion), :class => 'add_response_btn pure-button', :data => {:discussion_id => @discussion.id} %>
</div>

<div class="discussion_response_shell">
  <% @discussion.discussion_responses.each do |response| %>
    <%= render :partial => 'discussions_responses/indi_show', :locals => {:response => response} %>
  <% end %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    discussion_id = <%= @discussion.id %>;
    EditProject.init();
  });
</script>