<!DOCTYPE html>
<html>
<head>
  <title>FiveInch</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.1/pure-min.css">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
  <header class="pure-menu pure-menu-open pure-menu-horizontal">
    <ul>
      <li>Org-Yo</li>
      <li><%= link_to 'Home', root_path %></li>
      <% if current_user %>
        <li class="pure-menu-selected"><%= link_to 'Projects', user_path(current_user) %></li>
        <li>Hello <%= current_user.first_name %></li>
        <li><%= link_to 'Signout', signout_path %></li>
      <% else %>
        <li><%= link_to 'Sign Up', signup_path %></li>
        <li><%= link_to 'Log In', login_path %></li>
      <% end %>
    </ul>
  </header>

<%= yield %>

</body>
</html>
